<div class="modal-body" *ngIf="Active == false">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Tên thương hiệu</label>
        <input type="text" class="form-control" [(ngModel)]="Name" />
      </div>
      <div class="form-group">
        <label>Ảnh thương hiệu</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="InputFile"
              (change)="onFileChanged($event)"
              [(ngModel)]="LogoName"
            />
            <label class="custom-file-label" for="InputFile"
              >Chọn ảnh thương hiệu...</label
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Trạng thái</label>
        <select
          class="form-control select2"
          [(ngModel)]="selectedStatus"
          style="width: 100%"
        >
          <option *ngFor="let option of Options" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div *ngIf="retrievedImage">
        <img [src]="retrievedImage" style="width: 250px" />
      </div>
    </div>
  </div>
</div>
<div class="modal-body" *ngIf="Active == true">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Tên thương hiệu</label>
        <input type="text" disabled class="form-control" [(ngModel)]="Name" />
      </div>
      <div class="form-group">
        <label>Ảnh thương hiệu</label>
        <input
          type="text"
          disabled
          class="form-control"
          [(ngModel)]="LogoName"
        />
      </div>
      <div class="form-group">
        <label>Trạng thái</label>
        <select
          class="form-control select2"
          [(ngModel)]="selectedStatus"
          disabled
          style="width: 100%"
        >
          <option *ngFor="let option of Options" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div *ngIf="retrievedImage">
        <img [src]="retrievedImage" style="width: 250px" />
      </div>
    </div>
  </div>
</div>

<div class="modal-footer justify-content-end" *ngIf="Active == false">
  <button
    type="button"
    class="btn btn-success"
    *ngIf="trademarkId == 0"
    (click)="createClick()"
  >
    Tạo mới
  </button>
  <!-- <button
    type="button"
    class="btn btn-primary"
    *ngIf="trademark.id != 0"
    (click)="saveClick()"
  >
    Save changes
  </button> -->
</div>
